**/*.log
**/.DS_Store
**/.history
**/.yarn
**/bazel-*
**/bazel-bin
**/bazel-out
**/bazel-qwik
**/bazel-testlogs
**/dist
**/dist-dev
**/build
**/coverage
**/lib
**/lib-types
**/etc
**/external
**/node_modules
**/temp
**/tmp
**/output
**/target
**/tsc-out
**/tsdoc-metadata.json
**/.cache
**/.rollup.cache
**/.vscode
**/.netlify
**/tsconfig.tsbuildinfo
**/*.spec.ts

# Generated build artifacts
**/custom-elements.json
packages/test-stencil-lib/src/components.d.ts
packages/test-stencil-lib/src/components/*/readme.md
packages/test-stencil-lib/www/**
apps/qwik-demo/server/**
apps/qwik-demo/test-results/**
apps/qwik-demo/playwright-report/**
apps/qwik-demo/src/generated/**
**/*.spec.tsx
**/src/generated/**
packages/test-stencil-lib/hydrate/**
packages/test-stencil-lib/loader/**
packages/test-stencil-lib/www/build/**
.turbo
pnpm-lock.yaml
package-lock.json
yarn.lock
